{% extends "base.jinja2" %}
{% block title %}Report{% endblock %}
{% block head %}
    {{ super() }}
    <script src="static/js/report.js"></script>
{% endblock %}
{% block content %}
    <ul class="tags">
    </ul>
    <div class="decisions"></div>
    <div class="spinner-container"></div>
{% endblock %}
