body {
    background: white;
}

.statuses {
    list-style-type: none;
    padding: 0;
}

.status {
    padding: 10px 20px;
}

.statuses .status {
    border-bottom: 1px solid #ccc;
}

.header {
    margin-bottom: 10px;
}

.header .content {
    display: inline-block;
    margin-left: 5px;
    width: calc(100% - 42px);
}

.header .aui-avatar img {
    border-radius: 100%;
}

.header .author {
    font-size: 16px;
    line-height: 16px;
}

.header .metadata {
    font-size: 12px;
    line-height: 12px;
    color: #999;
}

.header .metadata, .header .author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spinner-container {
    margin-top: 100px;
}

ul.tags li {
    list-style-type: none;
    padding-right: 10px;
    display: inline-block;
}

ul.tags {
    padding-left: 10px;
}

.tag_selector a {
    text-decoration: underline;
}

.tag_selected {
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
}
